.instructions__container{

}
/* INSTRUCTION BUTTONS */
.instructionButton{
    width: 100%;
    border: none;
    text-align: left;
    padding: .75rem;
    border-radius: .375rem;
    font-size: .875rem;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 200;
}
.instructionButton:hover, .instructionButton:focus{
    outline: none;
    background-color: #343541;
}

.instruction__label{
    margin-bottom: .3rem;
    margin-top: 1rem;
    font-size: .65rem;
    color: var(--label-color);
    font-weight: 400;
    padding-left: .5rem;
    text-transform: capitalize;
}
.instruction__list{
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.instruction{
    color: red;
}