.instructions__container{
    margin-top: 2rem;
}
/* INSTRUCTION BUTTONS */
.instructionButton{
    width: 100%;
    border: none;
    text-align: left;
    padding: .8rem .3rem .8rem;
    border-radius: .3rem;
    background-color: inherit;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
}
.instructionButton:hover{
    background-color: #343541;
}

.instruction__label{
    font-size: .8rem;
    color: #8E8E9F;
    text-transform: capitalize;
}
.instruction__list{
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.instruction{
    font-weight: bold;
}