
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.container{
    height: 100vh;
    /* padding: 0.5rem; */
    min-width: 235px;
    max-width: 315px;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
  
/* HEADER */
.header{
    padding: 0.5rem;
    display: flex;
    gap: .5rem;
}
.newInstruction__button{
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    gap: .3rem;
    font-weight: 200;
    font-size: .8rem;
}
.closeMenu__button{
    justify-content: center;
    align-items: center;
}

/* HEADER BUTTONS */
.newInstruction__button, .closeMenu__button{
    border: 1px solid var(--border-color);
    color: white;
    padding: .56rem .65rem;
    border-radius: .3rem;
    background-color: transparent;
    cursor: pointer;
    transition: all ease 150ms;
    display: flex;
}

.closeMenu__button:hover, .closeMenu__button:focus, .newInstruction__button:hover, .newInstruction__button:focus{
    outline: none;
}
.openMenu__button{
    position: absolute;
    top: 4.5%;
    left: 1%;
    background-color: inherit;
    border: none;
    border-radius: .3rem;
    padding: .5rem .5rem .4rem .5rem;
    transition: all 150ms ease;
}
.openMenu__button:hover, .openMenu__button:focus {
    outline: none;
}

/* Add this to your CSS file */
.tooltipContainer {
    position: relative;
    display: inline-block;
  }
  
  .tooltipText {
    visibility: hidden;
    width: fit-content;
    white-space: nowrap;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    padding: .2rem .6rem;
    position: absolute;
    z-index: 1;
    top: 3.5px;
    left: 110px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease 200ms;
    position: absolute;
  }

  
  .tooltipContainer:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }

  .list__container{
    padding: 0rem .5rem;
    padding-bottom: 3rem;
    margin-top: 0px;
    height: 600px;
    overflow-x: scroll;
  }


/** FOOTER **/
.footer{
    position: absolute;
    left: 0;
    bottom: 0px;
    padding: 1rem 0rem;
    width: 100%;
    background-color: inherit;
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 768px) {

}
  

@media (max-width: 480px) {


}



@media (max-width: 600px) {
    .container{
        position: absolute;
        z-index: 10;
    }
  }