
.container{
    flex: 1;
    height: calc(100vh - 3.4vh);
    background-color: var(--dark-gray-color);
    font-family: sans-serif;
    padding: 1rem;
    max-width: 270px;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
  
/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
}

/* HEADER BUTTONS */
.newInstruction__button, .closeMenu__button{
    padding: .5rem 1rem;
    border-radius: .25rem;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    gap: .5rem;
    transition: all ease 150ms;
}
.closeMenu__button:hover, .closeMenu__button:focus, .newInstruction__button:hover, .newInstruction__button:focus{
    outline: none;
    background-color: rgb(41, 41, 41);
    color: white;
}
.openMenu__button{
    position: absolute;
    top: 4.5%;
    left: 1%;
    background-color: inherit;
    border: none;
    border-radius: .3rem;
    padding: .5rem .5rem .4rem .5rem;
    color: rgb(210, 210, 210);
    transition: all 150ms ease;
}
.openMenu__button:hover, .openMenu__button:focus {
    outline: none;
    color: black;
    background-color:white;
}

/* Add this to your CSS file */
.tooltipContainer {
    position: relative;
    display: inline-block;
  }
  
  .tooltipText {
    visibility: hidden;
    width: fit-content;
    white-space: nowrap;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    padding: .2rem .6rem;
    position: absolute;
    z-index: 1;
    top: 3.5px;
    left: 110px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease 200ms;
    position: absolute;
  }

  
  .tooltipContainer:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }



/** FOOTER **/
.footer{
    margin: 0rem auto;
}



@media (max-width: 768px) {

}
  

@media (max-width: 480px) {


}



@media (max-width: 600px) {
    .container{
        position: absolute;
        z-index: 10;
    }
  }