/** Main container **/
.main {
  width: 100vw;
  margin: 0 auto;
  height: 97vh;
  padding: 1rem 3rem;
  margin: 0 auto;
  gap: 2rem;
  overflow: scroll;
}

/** INTRODUCTION SECTION **/
.introduction {
  color: var(--text-color);
  max-width: var(--max-width);
  margin: 2rem auto;
}
.title {
  font-size: var(--big-title);
  color: var(--text-color);
}
.introductionContainer {
  background-color: rgba(0, 0, 0, 0);
}
.description {
  line-height: 35px;
}

/** CREATE INSTRUCTION SECTION **/
.createInstructionContainer {
  padding: 2rem 0rem;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid var(--line-color);
  border-top: 2px solid var(--line-color);
  margin: 2rem auto;
}
.customInstructionTxt {
  font-size: 1rem;
  color: var(--text-color);
}
.loginShortcut {
  padding: 0.3rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  opacity: 0.6;
}
.loginShortcut:hover {
  opacity: 1;
}

/** BUTTON **/
.createInstructionButton {
  font-size: 1.25rem;
  padding: 0.7rem 1.2rem;
  border: none;
  background-color: var(--green-color);
  color: white;
  border-radius: 0.6rem;
  transition: all 200ms;
  scale: 0.97;
}
.createInstructionButton:hover {
  scale: 1;
}

/**  NOT LOGGED IN SECTION  **/
.notLoggedInSection {
  margin: 2rem auto;
  max-width: var(--max-width);
}

/** INSTRUCTION SECTION **/
.instruction__container {
  margin: 2rem auto;
  max-width: var(--max-width);
  border-radius: 0.5rem;
  background-color: var(--container-color);
  overflow: hidden;
}
.instruction__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 1rem;
}

.copyToClipboard__text {
  font-size: 0.8rem;
  color: var(--text-color);
  cursor: pointer;
}
.instruction_title {
  padding: 0.5rem 0rem;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.instruction__list {
  box-shadow: var(--inner-shadow);
  background-color: var(--dark-gray-color);
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 35px;
}
.instruction__item {
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  /** INTRO **/
  .introductionContainer {
    padding: 0.2rem 1rem;
  }
  .title {
    font-size: 1.25rem;
  }
  .description {
    line-height: 25px;
    font-size: 0.8rem;
  }
  /** CREATE INSTRUCTION **/
  .customInstructionTxt {
    text-align: center;
    font-size: 0.8rem;
  }
  .createInstructionButton {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--green-color);
    color: white;
    border-radius: 20px;
    font-weight: 200;
  }
  .copyToClipboard__text {
    display: none;
  }

  /** INSTRUCTION SECTION **/
  .instruction_title {
    font-size: 0.9rem;
  }
  .instruction__list {
    line-height: 25px;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 0.9rem;
  }
}
