
.container{
    flex: 1;
    height: 100vh;
    background-color: var(--dark-gray-color);
    font-family: sans-serif;
    padding: 1rem;
}
  
/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
}

/* HEADER BUTTONS */
.newInstruction__button, .closeMenu__button{
    padding: .5rem 1rem;
    border-radius: .25rem;
    border: 2px solid #343541;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.openMenu__button{
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: inherit;
    border: none;
    border-radius: .3rem;
    padding: .5rem .5rem .4rem .5rem;
    color: rgb(210, 210, 210);
    transition: all 200ms ease;
}
.openMenu__button:hover{
    background-color:#202123;
}

/* INSTRUCTIONS SECTION*/
.instructions__container{
    margin-top: 2rem;
}

/* INSTRUCTION BUTTONS */
.instructionButton{
    border: none;
    width: 100%;
    text-align: left;
    padding: .8rem .3rem .8rem;
    border-radius: .3rem;
    background-color: inherit;
    font-size: 1rem;
    color: white;
    cursor: pointer;

}
.instructionButton:hover{
    background-color: #343541;
}

.instruction__label{
    font-size: .8rem;
    color: #8E8E9F;
    text-transform: capitalize;
}
.instruction__list{
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.instruction{
    font-weight: bold;
}