
.stats__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem;
}
.stats__container > * {
  margin-bottom: 30px;
}
.left__side, .right__side {
  padding: 1rem 2rem 0rem 2rem;
}
.left__side{
  border-radius: .375rem 0rem 0rem .375rem;
  background-color: rgba(0, 0, 0, 0.4);
}
.right__side{
  border-radius: 0rem .375rem  4rem 0rem;
  background-color: rgba(0, 0, 0, 0.5);
}