
.stats__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.stats__container > * {
  margin-bottom: 30px;
}
.left__side, .right__side {
  padding: 1rem 2rem 0rem 2rem;
}
.left__side{
  border-radius: .375rem 0rem 0rem .375rem;
  /* background-color: rgba(0, 0, 0, 0.4); */
}
.right__side{
  border-radius: 0rem .375rem  4rem 0rem;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
}

@keyframes fillBar {
  from {
    width: 7%;
  }
  to {
 
  }
}

.bar {
  animation: fillBar 2s ease-out;
  /* other styles... */
}

@media screen and (max-width: 1000px) {
  .stats__container{
    grid-template-columns: 1fr;
  }
  .stats__container > * {
    margin-bottom: 0;
  }
  .right__side{
    background-color: rgba(0, 0, 0, 0);
  }
  .left__side, .right__side {
    padding: 0;
  }
  .title{
    font-size: 1.5rem;
  }
  
}