.header__container{
    margin: 0rem auto;
    max-width: var(--max-width);
    background-color: inherit;
    display: flex;
    flex-direction: column;
    padding: 0rem 1.5rem;
}
.header__logo{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1rem;
}
.logo__title{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}
.header__title{
    color: var(--text-color);
    margin: 0;
    font-size: 1.2rem;
}