.wrapper{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: rgb(250, 250, 250);
    overflow-y: scroll;
}
.container{
    background-color: inherit;
    margin: 2rem auto;
    height: 100%;
    max-width: var(--max-width);
    display: flex;
    gap: 1rem;
    padding: 0rem 1.5rem;
}
.filter__container{
    max-width: 300px;
    height: 100%;
    background-color: rgb(250, 250, 250);
    padding-right: 1rem;
   /* border: 1px solid forestgreen; */
}
.input__container{
    position: relative;
}
.filer__input{
    /* calculate the with of the input by subtracting the padding */
    width: calc(100% - 30px - 0.6rem);
    border: none;
    border-radius: 2rem;
    padding: .35rem .6rem;
    border: .9px solid rgba(218, 218, 218, 0.634);
    font-size: .9rem;
    padding-left: 30px;
}
.input__icon{
    z-index: 10;
    position: absolute;
    top: 7px;
    left: 10px;
}

.category__container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.category__title{
    margin: 0%;
    font-size: .9rem;
    font-weight: 400;
    color: rgb(162, 162, 162);
}
.categories{
    padding: 0rem .5rem;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}



/** Results section  **/
.results__container > * {
    padding: 0;
    margin: 0;
}
.results__container{
    flex: 1;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
}