
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');


:root{
  /* * COLORS * */
  --light-gray-color: #444654;
  --mid-gray-color: #343541;
  --dark-gray-color:  #202123;
  --container-color: rgba(32, 33, 35, 0.5);
  --text-color: rgb(192, 192, 192);
  --green-color: #4CAF50;
  --line-color: #34353a;
  --opacity: 0.5;
  
  /* * FONT SIZES * */
  --button-size: 1.15rem;
  --big-title: 2rem;
  --title-size: 1.5rem;
  --text-size: 1rem;
  --inner-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.291);

  /** WIDTH **/
  --max-width: 1000px;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--light-gray-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  height: 100vh;

}
html {
 height: 100vh;
}